@import "src/theme/variables";
@import "src/theme/fonts";

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 16px;
	background: $gray-800;
	padding: 16px;
	border-radius: 12px;

	&Logo {
		width: 50px;
		height: 50px;
	}

	&Nav {
		display: flex;
		gap: 16px;
		flex-wrap: wrap;
	}

	&NavLink {
		@include text-md;
		text-transform: uppercase;
		color: $gray-400;

		&:hover {
			color: $white;
		}
	}
}
