@import "src/theme/variables";
@import "src/theme/fonts";

.main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 24px;

	&Card {
		padding: 16px;
		background: $gray-800;
		border-radius: 12px;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&CardTitle {
		@include heading-md;
		text-transform: uppercase;
		text-align: center;
		color: $gray-500;
	}

	&Pagination {
		display: flex;
		justify-content: center;
		background: $gray-800;
		padding: 16px;
		border-radius: 12px;
	}

	&PaginationItem {
		color: white !important;
	}
}
